<!-------------------------------------------------------------------------------------------------->
<!----------------------------------------BANNER---------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<div class="parent-header">
  <div class="main-banner">
      <div class="banner-container">
        <div class="" style="display: flex; align-items: center;">
              <div class="img-container">
                <img src="assets/img-src/bg.png" alt="">
              </div>
          </div>

          <div class="" style="font-size: 13px;">
              <span class="" style="font-size: 25px">Integrated&nbsp;Insurance&nbsp;Brokerage&nbsp;System&nbsp;</span>
              <span class="" style="font-size: 13px;">v5</span>
          </div>

          <div class="banner-name">
              <span style="font-size: 12px;">Juan&nbsp;Dela&nbsp;Cruz</span>

              <div class="dropdown">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
          </div>
      </div>
    </div>

  <div class="breadcrumb-container">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Transaction</a></li>
        <li><a href="#">Endorsement</a></li>
        <li><a href="#">Create Endorsement</a></li>
        <li style="font-family: 'Poppins', sans-serif;"><a class="active" href="#"><b>Process&nbsp;Endorsement</b></a></li>
    </ul>

    <div class="">
      <button class="event-logs-btn" mat-raised-button>Event&nbsp;Logs</button>
    </div>

  </div>

  <div class="title-endorsement">
    <span>Transaction&nbsp;No.&nbsp;9172</span>
    <span>ENDORSEMENTS</span>
  </div>

</div>
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->

<!-------------------------------------------------------------------------------------------------->
<!-------------------------------SIDE NAV AND CONTENT--------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!--SIDE NAV-->
<mat-drawer-container class="main-container">
    <mat-drawer #drawer class="sidenav" mode="side" position="end">
      <div style="display:flex; justify-content: space-between">
        <p>Auto-resizing sidenav</p>
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-drawer>

  <div class="content">
    <button type="button" mat-button (click)="drawer.toggle()" >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>


<!------------->

<!--CONTENT-->

<mat-stepper orientation="vertical" linear="true" #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>CURRENT POLICY PANEL</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>TRANSACTION</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>COVERAGE SUMMARY</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>CREDIT MEMO</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>REQUEST FOR DOCUMENTATION</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>ATTACHMENT</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>ENDORSMENT SYSTEM</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
</mat-drawer-container>
<!------------->

<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
