:host {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

span {
    font-family: 'Poppins', sans-serif !important;
}

p {
    font-family: 'Poppins', sans-serif;
}

::ng-deep .mat-form-field {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0 5px 0;
}

::ng-deep .mat-form-field-wrapper {
    padding: 0px;
}

::ng-deep textarea.mat-input-element {
    height: 50px;
}

::ng-deep .mat-accordion,
::ng-deep .mat-select {
    font-family: 'Poppins', sans-serif !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 0px !important;
}

::ng-deep .mat-input-element:disabled {
    color: black
}

::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
    color: black;
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: black;
}

::ng-deep .mat-form-field-label {
    color: black;
}

.mat-table {
    font-family: 'Poppins', sans-serif;
}

th {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 13px;
    padding: 0 20px;
    text-align: center;
}

td.mat-cell {
    padding: 0 20px;
}

th.mat-header-cell {
    font-weight: 1000;
    font-size: 12px;
    padding: 0 10px;
}

tr.mat-header-row {
    height: 40px;
    padding: 0 10px;
}

tr.mat-row {
    height: 33px;
    padding: 0 10px;
}


/*------------------------------------------------------*/


/*-----------------BANNER-------------------------------*/


/*------------------------------------------------------*/

.endorseHeader {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.endorseBanner {
    height: 50px;
    background-color: rgb(31, 56, 98);
    color: white;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.endorseBannerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: auto;
}

.endorseImgContainer {
    display: flex;
    align-items: center;
}

.endorseImgContainer img {
    height: 30px;
    object-fit: cover;
}

.endorseUserAcc {
    display: flex;
    align-items: center;
}


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*-------------------------------------------------------*/


/*-----------------BREADCRUMB----------------------------*/


/*-------------------------------------------------------*/

.endorseBreadcrumbContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #fafafa;
}

.endorseBreadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding: 5px 0px;
    list-style: none;
    background-color: #fafafa;
    margin: 0px 20px;
}

.endorseBreadcrumb a {
    color: black;
    text-decoration: none;
    padding: 3px;
}

.endorseBreadcrumb a:hover {
    border-radius: 5px;
}

ul.endorseBreadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

.endorseBtnEventLogs {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: rgb(143, 188, 143);
}


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*-----------------TITLE ENDORSEMENT--------------------*/


/*------------------------------------------------------*/

.endorseScreenTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40% 0 25vh;
    border-top: solid 1px darkblue;
    border-bottom: solid 1px darkblue;
    font-weight: bold;
    background-color: white;
}

.endorseScreenTitleTransacID {
    font-size: 12px;
    padding: 2px 5px;
    color: white;
    background-color: royalblue;
    border-radius: 4px;
}


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*-----------------SIDE NAV AND CONTENT-----------------*/


/*------------------------------------------------------*/


/* SIDE NAV*/

.endorseStepperContainer {
    top: 13%;
    background-color: white;
    height: 83vh;
    position: relative;
}

.endorseBtnSideNav {
    display: flex;
    justify-content: flex-end;
}

.endorseSidenav {
    padding: 10px;
    background-color: lightgray;
    width: 15%;
    font-size: 11px;
}


/* SIDE NAV CONTAINER*/

::ng-deep .endorseSummaryContent.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    background-color: lightgray;
}

.endorseSummaryContainer {
    font-size: 11px;
}

::ng-deep .endorseSummaryContent {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
}

::ng-deep .mat-drawer {
    border-radius: 2px;
}


/*----------------*/


/*CONTENT(STEPPER)*/

.mat-stepper-vertical {
    margin: 0;
}

::ng-deep .mat-vertical-stepper-header {
    padding: 0 150px;
    font-family: 'Poppins', sans-serif;
    height: 50px !important;
}

::ng-deep .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
    background-color: orangered;
}

::ng-deep .mat-step-icon.mat-step-icon-state-edit {
    background-color: orangered;
}

::ng-deep .endorseStepper .mat-step-text-label.ng-star-inserted {
    margin-left: 20px;
    width: 100vw;
    font-size: 16px;
}

.endorseStepperBtnNavigation {
    width: 98%;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    font-family: 'Poppins', sans-serif;
    margin: 3px;
    height: 50px;
    z-index: 10;
}

.endorseStepperBtnNavigation button {
    margin: 5px 2px;
}

::ng-deep .mat-button-wrapper {
    font-family: 'Poppins', sans-serif;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

::ng-deep .endorseStepperCurrPolicyContent .mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0px 3px 1px -2px rgba(89, 87, 87, 0.2), 0px 2px 2px 0px rgba(75, 73, 73, 0.14), 0px 1px 5px 0px rgba(93, 92, 92, 0.12);
}

.endorseStepperBtnNavigationBack {
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
    width: 37%;
}

.endorseStepperBtnNavigationBack:hover {
    background-color: blue;
}

.endorseStepperBtnNavigationSave {
    background-color: rgba(255, 165, 0, 0.7);
    color: white;
}

.endorseStepperBtnNavigationSave:hover {
    background-color: orange;
}

.endorseStepperBtnNavigationClose {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}

.endorseStepperBtnNavigationClose:hover {
    background-color: red;
}

.endorseStepperBtnNavigationNext {
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
}

.endorseStepperBtnNavigationNext:hover {
    background-color: blue;
}

.endorseStepperBtnNavigationComplete {
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
    width: 50%;
}

.endorseStepperBtnNavigationComplete {
    background-color: green;
}

.endorseResponseTxtFld {
    font-size: 12px;
}

.endorseResponseSelect {
    font-size: 12px;
}


/*-----------------------*/


/*----CURRENT POLICY-----*/

.endorseStepperCurrPolicyContent {
    margin-left: 150px;
}


/*-----------------------*/


/*----TRANSACTION--------*/

.mat-expansion-panel-header {
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

::ng-deep .mat-expansion-panel-content {
    font-family: 'Poppins', sans-serif;
}

.endorseTransacExpanPanelContainer {
    margin: 0 10px 0px 20px;
    padding: 0 150px;
}


/*--1st EXPANSION PANEL----*/


/*.endorseTransac1stExPanelContentTitle {
    display: flex;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 20px;
    border: solid 1px lightgray;
    border-radius: 4px;
    padding: 3px 15px 15px 15px;
}*/

.endorseTransac1stExPanelContent {
    display: flex;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 50px;
    width: 100%;
    border: solid 1px lightskyblue;
    border-radius: 4px;
    padding: 5px 10px 20px 10px;
}

::ng-deep .endorseTransac1stPanelTxtAreaDisp .mat-form-field-wrapper {
    height: 50px;
    font-size: 13px;
}

::ng-deep .endorseTransac1stExPanelTitle .mat-form-field-wrapper {
    padding: 0px;
}

::ng-deep .endorseTransac1stExPanelContentTitleDisp.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    background-color: white !important;
    position: relative;
}

::ng-deep .endorseTransac1stExPanelDatePicker .mat-form-field-wrapper {
    max-height: 50px;
    width: 70%;
    font-size: 13px;
}

::ng-deep .endorseTransac1stPanelFldTotalSumInsured .mat-form-field-wrapper {
    max-height: 50px;
    width: 80%;
    font-size: 13px;
}

::ng-deep .endorseTransac1stPanelTxtArea .mat-form-field-wrapper {
    max-height: 50px;
    font-size: 13px;
    width: 100%;
}


/*-----------------------------*/


/*---2nd Expansion Panel & 3rd Expansion Panel----*/

.endorseTransac2ndExPanelContainer,
.endorseTransac3rdExPanelContainer {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 80px;
}

.endorseTransac2ndExPanelTitle,
.endorseTransac3rdExPanelTitle {
    display: flex;
    justify-content: space-around;
}

.endorseTransac2ndExPanelTitle p,
.endorseTransac3rdExPanelTitle p {
    padding: 0 10px;
}

.endorseTransac2ndExPanelContent,
.endorseTransac3rdExPanelContent {
    display: flex;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    border: solid 1px lightskyblue;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
}

.endorseTransac2ndExPanelSearch {
    width: 90%;
}

.endorseTransac2ndExPanelDatePicker {
    width: 70%;
}

.endorseTransacListbtn {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.endorseTransacListbtn:hover {
    background-color: rgb(241, 238, 238);
}

.endorseTransac2ndExPanelTxtArea,
.endorseTransac3rdExPanelTxtArea {
    max-height: 50px;
    font-size: 13px;
    width: 100%;
}


/*-----------------------*/


/*----COVERAGE SUMMARY-----*/

.endorseCoverageSummaryDisplay {
    font-size: 13px;
}

::ng-deep .endorseCoverageSummaryDisplay.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px !important;
}

.endorseCoverageSummaryTableContainer {
    margin: 0px 110px;
}


/*-----------------------*/


/*-----------------CREDIT MEMO---------------------------*/

.endorseCreditMemoExpanPanelContainer {
    margin: 0 10px 0px 20px;
    padding: 0 150px;
}

.endorseCreditMemo1stExPanelContent {
    display: flex;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 50px;
    width: 100%;
    border: solid 1px lightskyblue;
    border-radius: 4px;
    padding: 10px 20px;
}

.endorseCreditMemo1stExPanelLeftADatePicker {
    width: 70%;
}

.endorseCreditMemo1stExPanelLeftA {
    width: 90%;
}

.endorseCreditMemo1stExPanelLeftATextArea {
    width: 100%;
}

.endorseCreditMemo1stExPanelLeftB,
.endorseCreditMemo1stExPanelRightB,
.endorseCreditMemo1stExPanelLeftC {
    width: 80%;
}

.ChkBoxADA {
    display: flex;
    align-items: center;
}

.endorseCreditMemo1stExPanelRightA {
    width: 40%;
}

::ng-deep .endorseCreditMemo1stExPanelLeftC .mat-input-element:disabled {
    color: black;
}


/*-------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*SCR4104016*/

:host {
    font-family: 'Poppins', sans-serif;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

th {
    font-size: 12px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 13px;
}

th.mat-header-cell {
    text-align: center;
    padding: 0 15px;
    font-weight: 1000;
    font-size: 12px;
}

tr.mat-header-row {
    height: 40px;
}

tr.mat-row {
    height: 33px;
}

.mat-icon-button {
    height: 33px
}

td.mat-cell {
    font-size: 11px;
    text-align: right;
    padding: 0 15px;
}

 ::ng-deep .mat-cell {
    padding: 0;
    margin: 0;
}

.mat-table {
    overflow: scroll;
    table-layout: fixed;
}

.endorseSpnBtn {
    flex: 1 1 auto;
}

.endorseAddBtn {
    background-color: blue;
    font-size: 13px;
}

.endorseAddBtn:hover {
    background-color: darkblue;
}

 ::ng-deep .mat-dialog-title {
    font-family: 'Poppins', sans-serif;
}

@media screen and(max-width: 500px) {
    th {
        padding: 0 100%;
    }
    .endorseTblAction {
        width: auto;
        align-items: center;
        height: 100%;
    }
    table {
        overflow: auto;
    }
}


/*---------------------------*/


/*SCR4104015*/


/* table */

.endorseTableContainerSCR4104015 {
    padding: 0;
    overflow: auto;
}

.endorseCovSummTbl {
    box-shadow: none;
    table-layout: fixed;
    width: 100%;
}

.mat-header-cell {
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.mat-cell {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
}